*{
    padding: 0px;
    margin: 0px;   
}
/*This is the top section*/
.section1{
    height: 170px;
    background-color: #f6b319;
    padding-top: 10px;
}
#w-1-m{
    background: url("../img/restaurant-logo_large.png") no-repeat;
    width: 150px;
    height: 150px;
    margin-left: 10%;
    padding-top: 0;
}
.w-2-m{
    margin-left: 23%;
    margin-top: -120px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 900;
    color: #557c3e;
    text-shadow: 1px 1px 1px black;
    line-height: 30px;
}
.w-3-m{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 21%;
    display: flex;
    margin-top: -7px;
}
.i-1{
    font-size: 13px;
    margin-left: 0%;
    margin-top: 7px;
}
.image1{
    width: 30px;
    margin-left: 3%;
}

#nav-tab {
    display: flex;
    margin-top: -145px;
    color: #951C49;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nav-tab a span{
    font-size: 2.5rem;
}
li a{
    color: #951C49;
    font-size: 15px;
}
li a span{
    font-weight: 700;
    font-size: 20px;
}
li{
    text-align: center;
    margin-left: 10px;
    font-size: 18px;
}
.c-l{
    color: forestgreen;
    font-size: 18px;
    margin-left: 80px;
}
#s-p{
    margin-top: 20px;
    font-size: 30px;
    line-height: 18px;
    margin-right: 40px;
}
.section1 button.navbar-toggle, .section1 .icon-bar {
    border: 1px solid #61122f;
}
button.navbar-toggle {
    position: absolute;
    float: none;
    padding: 9px 10px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: aliceblue;
    margin-left: 90%;
    margin-bottom: 1rem;
}

.section1 button.navbar-toggle {
    margin-top: -10px;
}
.section2{
    height: 212vh;
    background-color: #951C49;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.s-2{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ss-22{
    /* display: flex; */
    flex: 0 auto;
    margin-left: 66px;
    margin-right: 110px;
    justify-content: center;  
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 23%;
}
.s-3{
    width: 29%;
    float: left;
}
.s-5{
    width: 29%;
    float: left;
    margin-left: 7%;
}
.s-6{
    width: 28%;
    float: left;
    margin-left: 6.5%;
}
.s-4:hover{
    box-shadow: 0 1px 5px 1px #cccccc;
}
.s-4{
    width: 115%;
    height: 230px;
    border: 2px solid #222;
    background-position: center;
}
.s-s2{
    background-color: black;
    text-align: center;
    color: white;
    width: 115%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -49px;
    opacity: .8;
    padding: 10px;
    font-size: 20px;
}
.s-6{
    height: 30px;
}
.s-s3{
    background-color: black;
    text-align: center;
    color: white;
    width: 115%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -55px;
    opacity: .8;
    padding: 10px;
    font-size: 20px;
    
}
.t-3-t{
    color: white;
    /* background-color: #fff; */
    margin-left: 38%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -30px;
    position: absolute;

}
.s-e-c-3{
    opacity: .8;
    padding-bottom: 60px;
    height: 35vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.section3{
    height: 40vh;
    background-color: black;
    /* margin-top: -40px; */
    opacity: .8;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    /* margin-top: 7px; */
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 35px;
    padding-right: 30px;
}
.meek{
    font-size: 17px;
    font-weight: 400;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.meek2{
    font-size: 17px;
    font-weight: 400;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.meek3 {
    font-size: 17px;
    font-weight: 400;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
/**************Menu-categories***************/
.mc-1{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:20px;
}
.mc-2{
    font-size: 18px;
    line-height: 5px;
}
.mc-5{
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
}
.mc-5 span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
    /* display: flex; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    /* margin-right: 20px;  */
}
.mc-6{
    width: 200px;
    height: 200px;
}
.mc-7{
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
    /* margin-bottom: 2rem; */
}
.mc-8{
    /* display: block; */
}
.new-phase{
    margin-top: 50px;
}
/**************Single-categories***************/
.sc-0{
    display: flex;
    max-width:45%;
}
.sc-1{
    /* margin-left: 100px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.sc-2{
    margin-top: 30px;
    /* margin-left: 20%; */
    /* overflow: hidden; */
}
.sc-3{
    color: white;
    background-color: #557c3e;
    width: 26%;
    /* bottom: 0; */
    /* right: 0; */
    overflow: hidden;
    text-align: center;
    margin-left: 74.4%;
    margin-top: 80px;
    position: absolute;
    padding: 2px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.sc-9{
    margin-top: -30px;
    border: 2px solid black;
}
.sc-4{
    color: white;
    font-size: .8em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 32.9%;
}
.sc-10{
    font-size: 10px;
}
.sc-5{
    color: white;
    margin-top: -55px;
    /* padding-right: 50px; */
    /* font-style: italic; */
    /* margin-right: 30px; */
    /* margin-top: 70px; */
    /* margin-right: 220px; */
    /* text-align: left; */
}
.new-phase{
    /* display: flex; */
    row-gap: 20px;
    /* align-items: center; */
    justify-content: center;
    /* text-align: center; */
    /* margin: auto; */
    /* max-width: 160%; */
    /* margin-left: 110px; */
}
.sc-0{
    float: right;
    font-size: 1.1em;
    justify-content: center;
    /* text-align: center; */
    margin-right: 45px;
    margin-bottom: 5rem;
}
.sc-7{
    /* margin-top: -10px; */
    font-size: 23px; 
    margin: 10 10 10px;
    margin-left: 20px;
}
.sc-8{
    font-size: .9em;
    font-style: italic;
    margin-left: 20px;
}
.sc-9{
    width: 115%;
}
/***********LARGE DEVICES ONLY***************/
@media (min-width: 1200px) {
    .s-2{
        /* height: 675px; */
    }
}
/***********MEDIUM DEVICES ONLY**************/
@media (min-width: 992px) and (max-width: 1199px) {
.section1{
    height: 170px;
    background-color: #f6b319;
    padding-top: 60px;
    padding-left: -100%;
}
#w-1-m{
    background: url("../img/restaurant-logo_large.png") no-repeat;
    width: 150px;
    padding-right: 90px;
    margin-left: 3%;
    margin-top: -50px;
    padding-top: 0;
}
.w-2-m {
    margin-top: -120px;
    margin-left: 19%;
    line-height: 25px;
}
.w-3-m{
    margin-left: 16.5%;
}
#nav-tab{
    /* width: -15%; */
    margin-right: -1%;
    margin-top: -145px;
    line-height: 10px;
}
#s-p{
    margin-top: 20px;
    font-size: 30px;
    line-height: 18px;
    margin-right: 10px;
}
.ss-22{
    margin-bottom: 28%;
}
.section3{
    height: 40vh;
}
.section2{
    height: 218vh;
    background-color: #951C49;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
/**************Menu-categories***************/
.mc-1{
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:20px;
}
.mc-2{
    font-size: 18px;
    line-height: 5px;
}
.mc-3{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-right: 80px; 
    margin-left: 80px;
}
.mc-6{
    width: 200px;
    height: 200px;
}
.mc-7{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    /* margin-top: 50px; */
    margin-left:-70%;
}
.mc-8{
    display: block;
}
.new-phase{
    margin-top: 50px;
}
/**************single-categiries menu thing*************/
.sc-9{
    width: 120%;
}
.sc-3{
    margin-top: 80px;
    margin-left: 73%;
}

}
/******************Small devices*****************/
@media (min-width: 768px) and (max-width: 991px){
.section1{
    height: 140px;
}
#w-1-m{
    background: url("../img/restaurant-logo_medium.png") no-repeat;
    width: 30%;
    height: 100%;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    margin-left: 5%;
}
.w-2-m{
    margin-top: -138px;
    padding-top: 20px;
    margin-left: 18%;
    font-size: 1.5em;
    line-height: 15px;
}
.w-3-m{
    margin-left: 16%;
}
#nav-tab a span{
    font-size: 2.3rem;
    /* margin-top: 45px; */
}
#nav-tab{
    line-height: 10px;
    margin-top: -77px;
    margin-right: 10px;
    line-height: 5px;
}
.s-3{
    width: 45%;
}
.s-5 {
    width: 45%;
    margin-left: 55px;
}
.s-6{
    float: left;
    margin-top: 15px;
    margin-right: 10%;
    margin-left: -0.5%;
    width: 93%;
}
#collapsable-nav a span { /*Collapsed nav menu glyph*/
    margin-right: 5px;
}
.section3{
    margin-top: 539px;
}
.t-3-t{
    margin-left: 25%;
}
#s-p{
    /* margin-left: 10px; */
}
.c-1{
    margin-left: 30px;
}
/*****************Singlecategories***************/
.new-phase{
    display: block;
    text-align: center;
    justify-content: center;
}
.sc-0{
    /* display: block; */
    max-width: 80%;
    margin-bottom: 3rem;
}
.sc-3{
    margin-left: 200px;
}
.section2{
    height: 255vh;
    background-color: #951C49;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.mc-1{
    margin-bottom: -1rem;
}
.section3{
    margin-top: 230px;
}
.sc-5{
    margin-left: -1px;
}
.sc-3{
    color: white;
    background-color: #557c3e;
    width: 28%;
    text-align: center;
    margin-left: 71.2%;
    margin-top: 81px;
    position: absolute;
    padding: 2px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.sc-9{
    width: 110%;
}
.sc-4{
    margin-left: 47%;
}
}
/************Extra small devices**************/
@media (max-width: 767px) {
 .w-2-m{
    padding-top: 10px;
    font-size: 5vw;
    margin-top: 12px;
    margin-left: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.section1{
    height: 22vh;
}
 .image1{
    font-size: .6em;
    margin-top: 12px;
 }
 .w-3-m{
    margin-left: 1px;
 }
 .i-1{
    margin-top: 16px;
    margin-left: 5px;
    font-family: 'Times New Roman', Times, serif;
 }
 #nav-tab{
    margin-top: 30px;
    display: list-item;
 }
 #collapsable-nav{
    background-color: #f6b319;
    position: relative;
 }
 li{
    justify-content: center;
    /* padding: auto; */
    padding-right: 10px;
    padding-left: 0px;
 }
 #call-btn > a{
    text-align: center;
    background-color: #f6b319;
    border: 2px solid #fff;
    font-size: 1.8em;
    font-weight: 500;
    padding: 10px;
    margin: 0 20px;
    display: block;
}
#xs-deliver{
    text-align: center;
    text-transform: uppercase;
    font-size: .7em;
    letter-spacing: .1em;
    color: white;
    margin: 5px;
    margin-bottom: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
    color: #951C49;
    font-size: 30px;
}
.s-3{
    width: 93%;

}
.s-5 {
    float: left;
    width: 93%;
    margin-left: auto;
    margin-top: 15px;
}
.s-6{
    float: left;
    margin-top: 15px;
    margin-right: 10%;
    margin-left: -0.5%;
    width: 93%;
}
.section3{
    margin-top: 250px;
    height: 90vh;
    display:inline-block;
    text-align: center;

}
.s-e-c-3{
    text-align: center;
    margin-top: 50px;
}
.section2{
    height: 322vh;
    background-color: #951C49;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.t-3-t{
    margin-left: 31%;
}
li a:hover{
    background-color: #cccccc;
    padding: .2rem .2rem .2rem;
}
/*************SINGLE_CATEGORY*****************/
.section2{
    height: 480vh;
    background-color: #951C49;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.section3{
    margin-top: 30px;
}
.new-phase{
    text-align: center;
}

#sc-1{
    margin-right: -120%;
    text-align: center;
}
.sc-9{
    margin-left: 10px;
    width: 35%;
}
.sc-0{
    display:block;
    text-align: center;
    margin-right: 50%;
}
.sc-7{
    /* margin-top: 1rem; */
    font-size: 150%;
    width: 100%;
    text-align: center;
    margin-left: 65%;
}
#sc-3{
    background-color:#557c3e;
    /* margin-bottom: 40px; */
    color: white;
    width: 13%;
    padding: 3px;
    margin-left: 52%;
    margin-top: 79px;
}
.sc-4{
    margin-right: 31%;
}
.sc-8{
    margin: 0 0 10px;
    width: 215%;
    text-align: center;
}
.sc-5{
    text-align: center;
    max-width: 200%;
    margin-top: 10px;
}
#v-x{
    width: 200%;
} 
}
@media (max-width: 479px) {
    .col-xxs-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: left;
        width: 100%;
      }
      .section2{
        /* height: 690vh; */
        background-color: #951C49;
        padding-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}